@import "abstracts/_variables";
@import "abstracts/_mixins";

@import "base/_reset";
@import "base/_typography";
@import "base/_normalize";

@import "components/_button";
@import "components/_card";
@import "components/_step";
@import "components/_like";
@import "components/_spinner";
@import "components/_cardslim";

@import "layout/_header";
@import "layout/_footer";
@import "layout/_navigation";
@import "layout/_section";

@import "pages/_home";
@import "pages/_restaurant";

body {
  margin: 0 auto;
  width: 23.4375rem;
  height: 100%;
  font-family: Roboto;
  font-size: 1rem;

  @media (min-width: $breakpoint-medium) {
    width: 100%;
  }
}

.main__contenair {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.title {
  font-family: $title-font-family;
  font-size: $title-font-size;
  font-style: $title-font-style;
  font-weight: $title-font-weight;
  line-height: $title-line-height;
}
