@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.button {
  width: 13rem;
  height: 3.125rem;
  flex-shrink: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 1.5625rem;
  padding: 1rem;
  border: none;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease-in-out;
}
.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(0deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.39);
  transform: scale(1.05);
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem 0;
}
@media (min-width: 992px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem 4rem;
    margin-top: 1rem;
  }
}

.card {
  position: relative;
  width: 21.25rem;
  height: 14.6875rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .card {
    width: 24rem;
  }
}
@media (min-width: 992px) {
  .card {
    width: 19rem;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 31rem;
  }
}
.card .card__img {
  width: 100%;
  height: 10em;
  object-fit: cover;
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
}
.card .card__alert {
  position: absolute;
  padding: 0.3rem 0.5rem;
  top: 14px;
  right: 18px;
  text-align: center;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0.125rem;
  background: var(--Green, #99e2d0);
  color: var(--Green-Font, #008766);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.card .card__title {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Roboto", sans-serif;
}
.card .card__info {
  display: flex;
  width: 100%;
  height: 3.6875rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
  padding: 0.5rem 1rem;
}
.card .card__info h1 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 0.3rem;
}
.card .card__info p {
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card .card__info--like {
  display: none;
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  align-items: center;
}

.step {
  display: flex;
  position: relative;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
  width: 20.15538rem;
  height: 4.52369rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: var(--fonctionnement-background, #f6f6f6);
  box-shadow: var(--shadow, 0px 4px 15px 0px rgba(0, 0, 0, 0.15));
}

.step__text span {
  margin-left: 1rem;
  align-items: baseline;
}

.step__text i {
  color: var(--grey-tint-4, #7e7e7e);
}

.fa-solid.fa-store {
  color: var(--primary-color, #9356dc);
}

.step > span {
  display: flex;
  position: absolute;
  color: white;
  font-size: 0.8rem;
  background: var(--primary-color, #9356dc);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  left: -9px;
}

.card__like {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: relative;
  border: 0;
  cursor: pointer;
}
.card__like::before, .card__like::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
}
.card__like::before {
  background-image: url("../../assets/images/logo/heart.svg");
}
.card__like::after {
  background-image: url("../../assets/images/logo/pinkheart.svg");
  opacity: 0;
}
.card__like:hover::after {
  opacity: 1;
}

.spinner {
  position: fixed;
  width: 23.4375rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fourth-color, #f6f6f6);
  z-index: 9999;
  animation: hide 3s forwards;
  -webkit-animation: hide 3s forwards;
}
@media (min-width: 768px) {
  .spinner {
    width: 100%;
  }
}

.spinner__spin {
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 3px solid var(--secondary-color, #ff79da);
  border-radius: 50%;
  border-top-color: var(--primary-color, #9356dc);
  animation: spinner__spin 1s ease-in-out infinite, hide 3s forwards;
  -webkit-animation: spinner__spin 1s ease-in-out infinite, hide 3s forwards;
}
@media (min-width: 768px) {
  .spinner__spin {
    width: 200px;
    height: 200px;
    border: 5px solid var(--secondary-color, #ff79da);
    border-top-color: var(--primary-color, #9356dc);
  }
}

@keyframes spinner__spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner__spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes hide {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes hide {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.plateandprice__parent {
  display: flex;
  flex-direction: row;
}
.plateandprice__parent:hover .plateandprice__added {
  display: flex;
  animation: fadeInRight forwards;
}
.plateandprice__parent:hover .plateandprice__plate {
  width: 90%;
}
.plateandprice__parent:hover .plateandprice__container {
  width: 80%;
  border-radius: 0.94019rem 0 0 0.94019rem;
}
@media (min-width: 768px) {
  .plateandprice__parent:hover .plateandprice__container {
    width: 86%;
  }
}
@media (min-width: 992px) {
  .plateandprice__parent:hover .plateandprice__container {
    width: 94%;
  }
}
@media (min-width: 1200px) {
  .plateandprice__parent:hover .plateandprice__container {
    width: 98%;
  }
}

.plateandprice__container {
  display: flex;
  width: 100%;
  height: 4.3125rem;
  padding: 0.9375rem;
  margin: 1rem 0;
  flex-shrink: 0;
  border-radius: 0.94019rem;
  background: #fff;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}
.plateandprice__container .plateandprice__plate {
  width: 100%;
  display: flex;
  height: 2.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3125rem;
}
.plateandprice__container .plateandprice__plate p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.plateandprice__container .plateandprice__plate p:nth-child(2) {
  font-weight: 300;
  font-size: 0.94rem;
}
.plateandprice__container .plateandprice__price {
  display: flex;
  align-items: flex-end;
  gap: 0.3125rem;
}

.plateandprice__added {
  display: none;
  position: absolute;
  right: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4.3125rem;
  margin: 1rem 0;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  opacity: 0;
}
.plateandprice__added div {
  display: flex;
  width: 69px;
  height: 69px;
  justify-content: center;
  align-items: center;
  background: #99e2d0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.plateandprice__added i {
  width: 20px;
  height: 20px;
  background-color: white;
  color: #99e2d0;
  border-radius: 50%;
  font-size: 1.3rem;
}

.plateandprice__checked {
  margin-left: 1rem;
}

@keyframes fadeInRight {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }
  25% {
    transform: translateX(75%);
  }
  50% {
    transform: translateX(50%);
  }
  75% {
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.header {
  display: flex;
  width: 100%;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header .header__logo {
  display: flex;
  width: 100%;
  padding: 0.875rem 3rem 0.8125rem 3rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: white;
  font-family: Shrikhand, sans-serif;
  font-size: 2.25rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header .header__logo i {
  margin-right: 2.5rem;
  font-size: 1.5rem;
}
.header .header__location {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3.125rem;
  justify-content: center;
  align-items: center;
  gap: 1.0625rem;
  flex-shrink: 0;
  background: var(--Grey-2, #eaeaea);
}

footer {
  background-color: var(--fifth-color, #353535);
  display: flex;
  width: 23.4375rem;
  padding: 1.375rem 1.5625rem;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
@media (min-width: 768px) {
  footer {
    width: 100%;
    padding: 1.375rem 3.125rem;
    flex-direction: row-reverse;
    align-items: center;
  }
}
footer .footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  footer .footer__links {
    flex-direction: row;
    margin-top: 0;
    margin-right: 5rem;
  }
}

footer h2 {
  font-family: Shrikhand, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

section {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
}
@media (min-width: 768px) {
  section {
    padding: 3rem 11rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 90rem;
  }
}

#fonctionnement,
#reservation,
#restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#fonctionnement .steps {
  padding: 0;
}
@media (min-width: 1200px) {
  #fonctionnement .steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

#reservation,
#restaurants {
  background-color: #f6f6f6;
}

#reservation {
  align-items: center;
}
#reservation .reservation__paragraphe {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #353535;
}
#reservation .reservation__paragraphe,
#reservation .title {
  text-align: center;
  margin-bottom: 1.5rem;
}

#menu {
  position: relative;
  padding: 0;
  top: -1.9rem;
}
@media (min-width: 768px) {
  #menu {
    width: 80%;
  }
}

.restaurant__title {
  font-family: Shrikhand, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}

.menu__img {
  width: 23.4375rem;
  height: 17.1875rem;
  object-fit: cover;
}
@media (min-width: 768px) {
  .menu__img {
    width: 100%;
    height: 25rem;
  }
}

.menu__title {
  display: inline-flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  font-family: Shrikhand, sans-serif;
  font-size: 1.75rem;
}
.menu__title h2 {
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .menu__title {
    align-items: center;
    justify-content: center;
  }
}

.menu__info {
  margin-top: 2rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
@media (min-width: 768px) {
  .menu__info {
    width: 100%;
  }
}
.menu__info h2 {
  font-size: 1rem;
  font-weight: 300;
}
.menu__info .menu__info--line {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 0.4rem;
  width: 40px;
}

.menu__info.entrée,
.menu__info.plat,
.menu__info.dessert {
  animation: appear 0.5s ease forwards;
}

.menu__info.plat {
  animation-delay: 0.2s;
}

.menu__info.dessert {
  animation-delay: 0.4s;
}

.menu__background {
  display: flex;
  flex-direction: column;
  margin-bottom: -1.9rem;
  width: 23.4375rem;
  padding: 2.5rem 0.8rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
}
@media (min-width: 768px) {
  .menu__background {
    width: 100%;
    align-items: center;
    padding: 2.5rem 5rem;
  }
}
.menu__background .button__container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  margin: 0 auto;
  width: 23.4375rem;
  height: 100%;
  font-family: Roboto;
  font-size: 1rem;
}
@media (min-width: 768px) {
  body {
    width: 100%;
  }
}

.main__contenair {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*# sourceMappingURL=main.css.map */
