section {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;

  @media (min-width: 768px) {
    padding: 3rem 11rem;
  }
}

.container {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    max-width: 90rem;
  }
}

#fonctionnement,
#reservation,
#restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#fonctionnement {
  .steps {
    padding: 0;
    @media (min-width: $breakpoint-xlarge) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

#reservation,
#restaurants {
  background-color: $fourth-color;
}

#reservation {
  align-items: center;

  .reservation__paragraphe {
    font-family: $paragraph-font-family;
    font-size: $paragraph-font-size;
    font-style: $paragraph-font-style;
    font-weight: $paragraph-font-weight;
    line-height: $paragraph-line-height;
    color: $paragraph-font-color;
  }

  .reservation__paragraphe,
  .title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

#menu {
  position: relative;
  padding: 0;
  top: -1.9rem;

  @media (min-width: $breakpoint-medium) {
    width: 80%;
  }
}
