.button {
  width: 13rem;
  height: 3.125rem;
  flex-shrink: 0;
  color: $primary-font-color;
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  font-style: $primary-font-style;
  font-weight: $primary-font-weight;
  line-height: $primary-line-height;
  border-radius: 1.5625rem;
  padding: 1rem;
  border: none;
  background: $button-gradient;
  box-shadow: $button-shadow;
  transition: transform 0.3s ease-in-out;

  &:hover {
    background: $button-hover-gradient;
    box-shadow: $button-hover-shadow;
    transform: scale(1.05);
  }
}
