.plateandprice__parent {
  display: flex;
  flex-direction: row;

  &:hover .plateandprice__added {
    animation: fadeInRight forwards;
  }

  &:hover .plateandprice__plate {
    width: 90%;
  }

  &:hover .plateandprice__container {
    width: 80%;
    border-radius: 0.94019rem 0 0 0.94019rem;

    @media (min-width: $breakpoint-medium) {
      width: 92%;
    }
  }
}

.plateandprice__container {
  display: flex;
  width: 100%;
  height: 4.3125rem;
  padding: 0.9375rem;
  margin: 1rem 0;
  flex-shrink: 0;
  border-radius: 0.94019rem;
  background: var(--White, #fff);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);

  .plateandprice__plate {
    width: 100%;
    display: flex;
    height: 2.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3125rem;

    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
    }

    p:nth-child(2) {
      font-weight: $paragraph-font-weight;
      font-size: 0.94rem;
    }
  }

  .plateandprice__price {
    display: flex;
    align-items: flex-end;
    gap: 0.3125rem;
  }
}

.plateandprice__added {
  position: absolute;
  right: 14px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4.3125rem;
  margin: 1rem 0;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  opacity: 0;

  @media (min-width: $breakpoint-medium) {
    right: 240px;
  }

  div {
    display: flex;
    width: 69px;
    height: 69px;
    justify-content: center;
    align-items: center;
    background: $thirdary-color;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }

  i {
    width: 20px;
    height: 20px;
    background-color: white;
    color: $thirdary-color;
    border-radius: 50%;
    font-size: 1.3rem;
  }
}

.plateandprice__checked {
  margin-left: 1rem;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  25% {
    opacity: 0.25;
    transform: translateX(75%);
  }
  50% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  75% {
    opacity: 0.75;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
