.card__like {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: relative;
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
  }

  &::before {
    background-image: url("/assets/images/logo/heart.svg");
  }

  &::after {
    background-image: url("/assets/images/logo/pinkheart.svg");
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }
}
