.card__like {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/images/logo/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: relative;
  border: 0;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.card__like:hover {
  background-image: url("../../assets/images/logo/pinkheart.svg");
}
