.card__like {
  width: 30px;
  height: 30px;
  cursor: pointer;

  .card__like__default {
    display: block;
  }

  .card__like__liked {
    display: none;
  }

  &:hover {
    .card__like__default {
      display: none;
    }

    .card__like__liked {
      display: block;
    }
  }
}
