.spinner {
  position: fixed;
  width: 23.4375rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fourth-color, #f6f6f6);
  z-index: 9999;
  animation: hide 6s forwards;
  -webkit-animation: hide 6s forwards;
}

.spinner__spin {
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 3px solid var(--secondary-color, #ff79da);
  border-radius: 50%;
  border-top-color: var(--primary-color, #9356dc);
  animation: spinner__spin 1s ease-in-out infinite, hide 5s forwards;
  -webkit-animation: spinner__spin 1s ease-in-out infinite, hide 5s forwards;
}
@keyframes spinner__spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner__spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes hide {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes hide {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
