.menu__img {
  width: 23.4375rem;
  height: 17.1875rem;
  object-fit: cover;

  @media (min-width: $breakpoint-medium) {
    width: 100%;
    height: 25rem;
  }
}

.menu__title {
  display: inline-flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  font-family: Shrikhand, sans-serif;
  font-size: 1.75rem;

  h1 {
    margin-right: 1rem;
  }

  @media (min-width: $breakpoint-medium) {
    align-items: center;
    justify-content: center;
  }
}

.menu__info {
  margin-top: 2rem;

  @media (min-width: $breakpoint-medium) {
    width: 100%;
  }

  h2 {
    font-size: $primary-font-size;
    font-weight: $paragraph-font-weight;
  }

  .menu__info--line {
    border-bottom: 3px solid $thirdary-color;
    padding-bottom: 0.4rem;
    width: 40px;
  }
}

.menu__background {
  display: flex;
  flex-direction: column;
  margin-bottom: -1.9rem;
  width: 23.4375rem;
  padding: 2.5rem 0.8rem;
  background-color: $fourth-color;
  border-radius: 2rem 2rem 0 0;

  @media (min-width: $breakpoint-medium) {
    width: 100%;
    align-items: center;
    padding: 2.5rem 15rem;
  }

  .button__container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
